/.bundle
/.project
/chef-repo
/config/app_config.yml
/config/database.yml
/config/initializers/*_engine.rb
/config/initializers/secret_token.rb
/config/routes/*
/config/secrets.yml
/coverage
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/yardoc/
/erd.pdf
/Gemfile.local
/Gemfile.local.lock
/Gemfile.lock
/Gemfile.plugin
/.idea
/log/*
!/log/.keep
/.rvmrc
/.rspec
/tmp
/.vagrant
/Vagrantfile
/vendor/bundle
/vendor/bundler
/vendor/engines
/.yardoc
