# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9e828675d30f7df8b82411cbe7843329105e135e3b02f9a5f729294b0ac9aa2e34ed6028d5cccec143e4d51fce3b179493392163875f08cfd5fc635752a4a78d

test:
  secret_key_base: 9c56a40a38daf4f0e37942a88b0127ef1fb69f5247a06b680b3cc5b4bee6a9b4126c6011311c1271073eb512d8cc7b99f1815cb0eb48acb023bf059b98c04ea9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
