// Todo: css
// ---- default settings ------
$body-bg-color: #ecf0f1;
$body-font-color: #34495e;
$body-bg-active-color: #3071a9;
$body-font-active-color: #ecf0f1;

$head-bg-color: #428bca;
$head-bg-active-color: #3071a9;
$head-font-color: #ecf0f1;
$head-a-color: #ecf0f1;
$head-visited-color: #ecf0f1;
$head-focus-color: #fff;
