// Todo: css
// ---- mixin ---------

@mixin body-bg {
  background-color: $body-bg-color;
}

@mixin body-font {
  color: $body-font-color;
}

@mixin header-bg {
  background-color: $head-bg-color;
  border-color: $head-bg-active-color;
}

@mixin header-bg-active {
  background-color: $head-bg-active-color;
}

@mixin header-font {
  color: $head-font-color;
  background-color: $head-bg-color;
  border-color: $head-bg-active-color;
}

@mixin header-a {
  color: $head-a-color;
  background-color: $head-bg-color;
  border-color: $head-bg-active-color;

  &:visited {
    color: $head-visited-color;
  }

  &:hover,
  &:focus {
    color: $head-focus-color;
  }
}

// ---- common ------

html {
  height: 100%;
}

body {
  @include body-bg;
  @include body-font;
  font-family: 'Lucida Grande','Segoe UI','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ',sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 18px;
}

#wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto -2.3em;
  min-height: 100%;
}

.header {
  @extend .navbar !optional;
  @extend .navbar-static-top !optional;
  @extend .navbar-inverse !optional;
  @include header-font;
  
  .navbar-brand {
    @include header-a;
    font-size: 24px;
    line-height: 20px;
  }
  
  .navbar-nav > .active > a,
  .navbar-nav > .open > a {
    @include header-a;
    @include header-bg-active;
    &:hover,
    &:focus {
      @include header-bg-active;
    }
  } 

  .navbar-nav .open .dropdown-menu {
    @include header-font;
    .divider {
      @include header-bg-active;
    }
  }
  
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav > li > a {
    @include header-a;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    @include header-bg-active;
  }
}

#push {
  height: 60px;
}

#footer {
  @include header-bg;
  @include header-font;
  height: 60px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  * {
    font-size: 12px;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  font-size: 11px;
  padding: 10px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #008000;
}

.field_with_errors {
  display: table;
  padding: 2px;
  @extend .has-error;
}

#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid #f00;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
  width: 450px;

  h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.nav-pills > li.active > a {
  background-color: $body-bg-active-color;
  color: $body-font-active-color;

  &:hover,
  &:focus {
    background-color: $body-bg-active-color;
    color: $body-font-active-color;
  }
}

.footable {
  font-family: 'Lucida Grande','Segoe UI','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ',sans-serif;
}

.footable > thead > tr > th,
.footable > thead > tr > td {
  background-color: $body-bg-active-color;
  background-image: linear-gradient(to bottom, $body-bg-active-color, $body-bg-active-color);
  color: $body-font-active-color;
  text-shadow: 0 0 0 rgba(255, 255, 255, .5);
}

.item {
  margin-bottom: 20px;
}
